@font-face {
  font-family: Almarai;
  font-weight: 400;
  src: url('src/assets/fonts/Almarai-Regular.ttf');
}

@font-face {
  font-family: Almarai;
  font-weight: 700;
  src: url('src/assets/fonts/Almarai-Bold.ttf');
}

@font-face {
  font-family: Almarai;
  font-weight: 900;
  src: url('src/assets/fonts/Almarai-ExtraBold.ttf');
}
